<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content={{ .Site.Params.description }}>
        <meta name="author" content={{ .Site.Params.author }}>
        <meta name="keywords" content={{ .Site.Params.keywords }}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Site.Title }}</title>
        {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    </head>
    <body>
        <main class="error-page">
            <h1>404 | Page Not Found</h1>
            <a href="/">Back to Home</a>
        </main>
    </body>
</html>
